CE100G2.raw
analysis/
.build/
_publish/
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.tar.*
*.o
*.ko
*.mod
*.mod.c
*.cmd
*.o.d
Module.symvers
modules.order
debian/ce100g2-switch-dkms/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
